/**
 * Main Style
 * @author zhangjunfa
 */

/**
 * Home
 */
.custom-mobile {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: none;
}
.custom-mobile.active {
	display: block;
}
 
/**
 * M4 Product
 */ 
.M4 .p1 {
	background: url(../images/m4/m4_1.jpg) top center no-repeat;
	width: 100%;
	height: 792px;
}
.M4 .p2 {
	background: url(../images/m4/m4_2.jpg) top center no-repeat;
	width: 100%;
	height: 787px;
}
.M4 .p3 {
	background: url(../images/m4/m4_3.jpg) top center no-repeat;
	width: 100%;
	height: 793px;
}
.M4 .p4 {
	background: url(../images/m4/m4_4.jpg) top center no-repeat;
	width: 100%;
	height: 823px;
}
.M4 .p5 {
	background: url(../images/m4/m4_5.jpg) top center no-repeat;
	width: 100%;
	height: 764px;
}
.M4 .p6 {
	background: url(../images/m4/m4_6.jpg) top center no-repeat;
	width: 100%;
	height: 793px;
}
.M4 .p7 {
	background: url(../images/m4/m4_7.jpg) top center no-repeat;
	width: 100%;
	height: 791px;
}
.M4 .p7 .content {
	margin: 0 auto;
	padding-top: 285px;
	width: 775px;
	height: 434px;
}
.M4 .p7 .content a {
	width: 780px;
	height: 434px;
	display: block;
}
.M4 .p8 {
	background: url(../images/m4/m4_8.jpg) top center no-repeat;
	width: 100%;
	height: 790px;
}
.M4 .p9 {
	background: url(../images/m4/m4_9.jpg) top center no-repeat;
	width: 100%;
	height: 794px;
}
.M4 .p10 {
	background: url(../images/m4/m4_10.jpg) top center no-repeat;
	width: 100%;
	height: 792px;
}
.M4 .p11 {
	background: url(../images/m4/m4_11.jpg) top center no-repeat;
	width: 100%;
	height: 792px;
}
.M4 .p11 .content {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 792px;
}
.app-content {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 666px;
}
.M4 .p11 .content .applist-btn {
	position: absolute;
	width: 150px;
	height: 40px;
	left: 93px;
	bottom: 84px;
	font-size: 14px;
	color: #999999;
	line-height: 40px;
}
.app-content .applist-btn {
	position: absolute;
	width: 150px;
	height: 40px;
	left: 73px;
	bottom: 20px;
	font-size: 14px;
	color: #999999;
	line-height: 40px;
}
.M4 .p11 .content .applist-btn:hover,
.app-content .applist-btn:hover {
	color: #E9E9E9;
}
.M4 .p12 {
	background: url(../images/m4/m4_12.jpg?ver=2) top center no-repeat;
	width: 100%;
	height: 792px;
}
.M4 .p12 .content {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 792px;
}
.M4 .p12 .content a {
	background: url(../images/buy/buy_btn.png) no-repeat;
	position: absolute;
	width: 103px;
	height: 40px;
	left: 307px;
	bottom: 38px;
}
.M4 .p12 .content a:hover {
	opacity: 0.7;
}
.M4 .p12 .content a.a2 {
	left: 776px;
}
 
.M4-pic {
	
}
.M4-pic .pic-wrap {
	margin: 0 auto;
	position: relative;
	width: 1200px;
	height: 675px;
}
.M4-pic .pic-wrap .prev,
.M4-pic .pic-wrap .next {
	background: url(../images/pic/arrow_left.png) 0 -48px no-repeat;
	position: absolute;
	width: 26px;
	height: 48px;
	top: 295px;
	display: none;
	z-index: 10;
}
.M4-pic .pic-wrap .prev {
	left: 20px;
}
.M4-pic .pic-wrap .prev:hover {
	opacity: 0.8;
}
.M4-pic .pic-wrap .next {
	background: url(../images/pic/arrow_right.png) 0 0 no-repeat;
	right: 20px;
}
.M4-pic .pic-wrap .next:hover {
	opacity: 0.8;
}
.M4-pic .pic-wrap:hover a {
	display: block;
}
.M4-pic .pic-list ul {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 675px;
}
.M4-pic .pic-list ul li {
	position: absolute;
	width: 1200px;
	height: 675px;
	left: 0;
	top: 0;
	display: none;
}
.M4-pic .pic-list ul li.active {
	display: block;
}
.M4-pic .pic-list ul li img {
	width: 1200px;
	height: 675px;
}
.M4-pic .pic-nav-wrap {
	margin: 10px auto;
	width: 1200px;
	height: 120px;
	overflow: hidden;
}
.M4-pic .pic-nav {
	height: 120px;
}
.M4-pic .pic-nav a {
	margin-right: 15px;
	width: 120px;
	height: 120px;
	float: left;
	opacity: 0.5;
}
.M4-pic .pic-nav a.active,
.M4-pic .pic-nav a:hover {
	opacity: 1;
}
.M4-pic .pic-nav a img {
	width: 120px;
	height: 120px;
}
.M4-pic .pic-nav a:last-child {
	margin-right: 0;
}

.M4-pic-view {
	margin: 0 auto;
	width: 1200px;
}

/**
 * Topic
 */
.M4-topic {
	background: url(../images/video/yure.jpg) no-repeat;
	margin: 0 auto;
	width: 1200px;
	height: 580px;
}
.M4-article {
	margin: 50px auto;
	width: 1200px;
	color: #FFFFFF;
	text-align: center;
}
.M4-article .date {
	font-size: 14px;
	line-height: 21px;
}
.M4-article .title {
	font-size: 24px;
	line-height: 36px;
}
.M4-article .content {
	margin-top: 30px;
	font-size: 16px;
	line-height: 24px;
}

/**
 * Custom
 */
.m4-custom-1 {
	background: url(../images/custom/custom_1.jpg) top center no-repeat;
	margin: 0 auto;
	width: 1200px;
	height: 612px;
}
.m4-custom-2 {
	background: url(../images/custom/custom_2.jpg) top center no-repeat;
	margin: 0 auto;
	width: 1200px;
	height: 612px;
}
.m4-custom-3 {
	background: url(../images/custom/custom_3.jpg) top center no-repeat;
	margin: 0 auto;
	width: 1200px;
	height: 612px;
}
.m4-custom-4 {
	background: url(../images/custom/custom_4.jpg) top center no-repeat;
	margin: 0 auto;
	width: 1200px;
	height: 612px;
}
.m4-custom-5 {
	background: url(../images/custom/custom_5.jpg) top center no-repeat;
	margin: 0 auto;
	width: 1200px;
	height: 612px;
}
.m4-custom-6 {
	background: url(../images/custom/custom_6.jpg) top center no-repeat;
	margin: 0 auto;
	width: 1200px;
	height: 614px;
}
.m4-custom-7 {
	background: url(../images/custom/custom_7.jpg) top center no-repeat;
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 612px;
}
.m4-custom-7 .shop-link {
	position: absolute;
	font-size: 24px;
	color: #FFFFFF;
	line-height: 36px;
	opacity: 0.5;
	bottom: 50px;
	right: 80px;
}
.m4-custom-7 .shop-link:hover {
	opacity: 1;
}
.m4-custom-8 {
	background: url(../images/custom/custom_8.jpg) top center no-repeat;
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 612px;
}

.custom-2018-1 {
	position: relative;
	width: 100%;
	height: 612px;
	overflow: hidden;
}
.custom-2018-1 .pic-wrapper {
	position: absolute;
	width: 1680px;
	height: 612px;
	left: 50%;
	margin-left: -840px;
}
.custom-2018-1 .pic-wrapper ul li {
	position: absolute;
	width: 1680px;
	height: 612px;
	left: 0;
	top: 0;
	display: none;
}
.custom-2018-1 .pic-wrapper ul li.active {
	display: block;
}
.custom-2018-1 .text {
	background: url(../images/custom_2018/group1/text.png) no-repeat;
	position: absolute;
	width: 1680px;
	height: 612px;
	left: 50%;
	margin-left: -840px;
}
.custom-2018-1 .pic-nav {
	position: absolute;
	width: 500px;
	height: 12px;
	left: 50%;
	bottom: 30px;
	margin-left: -250px;
	text-align: center;
}
.custom-2018-1 .pic-nav a {
	background: url(../images/custom_2018/group1/point.png) no-repeat;
	margin: 0 10px;
	width: 12px;
	height: 12px;
	display: inline-block;
}
.custom-2018-1 .pic-nav a.active {
	background: url(../images/custom_2018/group1/point_active.png) no-repeat;
}
.custom-2018-2 {
	position: relative;
	width: 100%;
	height: 614px;
	overflow: hidden;
}
.custom-2018-2 .custom-body {
	background: url(../images/custom_2018/group2/custom_2.jpg) no-repeat;
	position: absolute;
	width: 1680px;
	height: 614px;
	left: 50%;
	margin-left: -840px;
	top: 0;
}
.custom-2018-2 .custom-body .a1 {
	background: url(../images/custom_2018/group2/a1.jpg) no-repeat;
	position: absolute;
	width: 430px;
	height: 407px;
	left: 193px;
	top: 177px;
	opacity: 0.7;
}
.custom-2018-2 .custom-body .more {
	position: absolute;
	width: 100%;
	height: 24px;
	left: 0;
	top: 350px;
	font-family: '宋体';
	font-size: 16px;
	color: #FFFFFF;
	line-height: 24px;
	text-align: center;
}
.custom-2018-2 .custom-body a:hover {
	opacity: 1;
}
.custom-2018-2 .custom-body a:hover .more {
	text-decoration: underline;
}
.custom-2018-2 .custom-body .a2 {
	background: url(../images/custom_2018/group2/a2.jpg) no-repeat;
	position: absolute;
	width: 430px;
	height: 407px;
	left: 628px;
	top: 177px;
	opacity: 0.7;
}
.custom-2018-2 .custom-body .a3 {
	background: url(../images/custom_2018/group2/a3.jpg) no-repeat;
	position: absolute;
	width: 430px;
	height: 407px;
	left: 1063px;
	top: 177px;
	opacity: 0.7;
}
.custom-2018-3,
.custom-2018-4,
.custom-2018-5 {
	position: relative;
	width: 100%;
	height: 614px;
	overflow: hidden;
}
.custom-2018-3 .pic-wrapper,
.custom-2018-4 .pic-wrapper,
.custom-2018-5 .pic-wrapper {
	position: absolute;
	width: 1680px;
	height: 614px;
	left: 50%;
	margin-left: -840px;
}
.custom-2018-3 .pic-wrapper ul li,
.custom-2018-4 .pic-wrapper ul li,
.custom-2018-5 .pic-wrapper ul li {
	position: absolute;
	width: 1680px;
	height: 614px;
	left: 0;
	top: 0;
	display: none;
}
.custom-2018-3 .pic-wrapper ul li.active,
.custom-2018-4 .pic-wrapper ul li.active,
.custom-2018-5 .pic-wrapper ul li.active {
	display: block;
}
.custom-2018-3 .buy-link {
	position: absolute;
	width: 160px;
	height: 70px;
	left: 1302px;
	top: 344px;
}
.custom-2018-4 .buy-link {
	position: absolute;
	width: 160px;
	height: 70px;
	left: 223px;
	top: 340px;
}
.custom-2018-5 .buy-link {
	position: absolute;
	width: 160px;
	height: 70px;
	left: 1302px;
	top: 344px;
}
.custom-2018-3 .prev,
.custom-2018-4 .prev,
.custom-2018-5 .prev {
	background: url(../images/custom_2018/prev.png) no-repeat;
	position: absolute;
	width: 40px;
	height: 80px;
	left: 180px;
	top: 266px;
}
.custom-2018-3 .next,
.custom-2018-4 .next,
.custom-2018-5 .next {
	background: url(../images/custom_2018/next.png) no-repeat;
	position: absolute;
	width: 40px;
	height: 80px;
	right: 180px;
	top: 266px;
}
.custom-2018-3 .prev:hover, .custom-2018-3 .next:hover,
.custom-2018-4 .prev:hover, .custom-2018-4 .next:hover,
.custom-2018-5 .prev:hover, .custom-2018-5 .next:hover {
	opacity: 0.8;
}
.custom-2018-6 {
	background: url(../images/custom_2018/custom_6.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 612px;
}
.custom-2018-7 {
	background: url(../images/custom_2018/custom_7.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 615px;
}
.custom-2018-8 {
	background: url(../images/custom_2018/custom_8.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 856px;
}
.custom-2018-9 {
	background: url(../images/custom_2018/custom_9.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 614px;
}
.custom-2018-10 {
	background: url(../images/custom_2018/custom_10.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 614px;
}
.custom-2018-11 {
	background: url(../images/custom_2018/custom_11.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 614px;
}
.custom-2018-12 {
	background: url(../images/custom_2018/custom_12.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 614px;
}
.custom-2018-13 {
	position: relative;
	width: 100%;
	height: 614px;
	overflow: hidden;
}
.custom-2018-13 .custom-body {
	background: url(../images/custom_2018/custom_13.jpg) top center no-repeat;
	position: absolute;
	width: 1680px;
	height: 614px;
	left: 50%;
	top: 0;
	margin-left: -840px;
}
.custom-2018-13 .custom-body .a1 {
	position: absolute;
	width: 310px;
	height: 530px;
	left: 277px;
	top: 58px;
}
.custom-2018-13 .custom-body .a2 {
	position: absolute;
	width: 310px;
	height: 530px;
	left: 690px;
	top: 58px;
}
.custom-2018-13 .custom-body .a3 {
	position: absolute;
	width: 310px;
	height: 530px;
	left: 1100px;
	top: 58px;
}
.custom-2018-13 .custom-body .more {
	position: absolute;
	width: 100%;
	height: 30px;
	left: 0;
	bottom: 0;
	font-family: '宋体';
	font-size: 20px;
	color: #FFFFFF;
	line-height: 30px;
	text-align: center;
}
.custom-2018-13 .custom-body a:hover .more {
	text-decoration: underline;
}
.custom-more {
	position: fixed;
	width: 1200px;
	height: 423px;
	left: 50%;
	top: 50%;
	margin-left: -600px;
	margin-top: -212px;
	z-index: 9999;
	display: none;
}
.custom-more .pic-wrapper {
	background-color: #000000;
	position: absolute;
	width: 1000px;
	height: 423px;
	left: 50%;
	margin-left: -500px;
}
.custom-more .pic-wrapper ul li {
	position: absolute;
	width: 1000px;
	height: 423px;
	left: 0;
	top: 0;
	display: none;
}
.custom-more .pic-wrapper ul li.active {
	display: block;
}
.custom-more .prev {
	background: url(../images/pic/arrow_left.png) 0 -48px no-repeat;
	position: absolute;
	width: 26px;
	height: 48px;
	left: -60px;
	top: 192px;
}
.custom-more .next {
	background: url(../images/pic/arrow_right.png) 0 0 no-repeat;
	position: absolute;
	width: 26px;
	height: 48px;
	right: -60px;
	top: 192px;
}
.custom-more .prev:hover, .custom-2018-3 .next:hover {
	opacity: 0.8;
}
.custom-more .close {
	background: url(../images/pic/close.png) 0 -21px no-repeat;
	position: absolute;
	width: 21px;
	height: 21px;
	top: 0;
	right: -30px;
}
.custom-more .close:hover {
	opacity: 0.8;
}
.opacity-bg {
	background-color: #000000;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	opacity: 0.8;
	z-index: 9998;
	display: none;
}

/**
 * Basel
 */
.m4-basel-1 {
	background: url(../images/basel/custom_1.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 609px;
}
.m4-basel-2 {
	background: url(../images/basel/custom_2.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 611px;
}
.m4-basel-3 {
	background: url(../images/basel/custom_3.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 611px;
}
.m4-basel-4 {
	background: url(../images/basel/custom_4.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 612px;
}
.m4-basel-5 {
	background: url(../images/basel/custom_5.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 610px;
}
.m4-basel-6 {
	background: url(../images/basel/custom_6.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 612px;
}
.m4-basel-7 {
	background: url(../images/basel/custom_7.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 617px;
}
.m4-basel-8 {
	background: url(../images/basel/custom_8.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 608px;
}
.m4-basel-9 {
	position: relative;
	width: 100%;
	height: 610px;
	overflow: hidden;
}
.m4-basel-9 .pic-wrapper {
	position: absolute;
	width: 1680px;
	height: 610px;
	left: 50%;
	margin-left: -840px;
}
.m4-basel-9 .pic-wrapper ul li {
	position: absolute;
	width: 1680px;
	height: 610px;
	left: 0;
	top: 0;
	display: none;
}
.m4-basel-9 .pic-wrapper ul li.active {
	display: block;
}
.m4-basel-9 .prev {
	background: url(../images/custom_2018/prev.png) no-repeat;
	position: absolute;
	width: 40px;
	height: 80px;
	left: 180px;
	top: 266px;
}
.m4-basel-9 .next {
	background: url(../images/custom_2018/next.png) no-repeat;
	position: absolute;
	width: 40px;
	height: 80px;
	right: 180px;
	top: 266px;
}
.m4-basel-9 .prev:hover, .m4-basel-9 .next:hover {
	opacity: 0.8;
}
.m4-basel-10 {
	background: url(../images/basel/custom_10.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 868px;
}
.m4-basel-11 {
	background: url(../images/basel/custom_11.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 614px;
}
.m4-basel-12 {
	background: url(../images/basel/custom_12.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 615px;
}
.m4-basel-13 {
	background: url(../images/basel/custom_13.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 614px;
}
.m4-basel-13 .content {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 614px;
}
.m4-basel-13 .content a {
	background: url(../images/buy/buy_btn.png) no-repeat;
	position: absolute;
	width: 103px;
	height: 40px;
	left: 100px;
	bottom: 40px;
}
.m4-basel-13 .content a:hover {
	opacity: 0.7;
}
.m4-basel-13 .content a.a2 {
	left: 970px;
}

/**
 * App notice
 */
.notice-box {
	background-color: #D6D6D6;
	position: fixed;
	padding: 50px 0;
	width: 1000px;
	height: 500px;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -500px;
	color: #111111;
	display: none;
	z-index: 9999;
}
.notice-box .statement {
	padding: 0 50px;
}
.notice-box .table {
	padding: 0 20px;
	display: none;
}
.notice-box .table table {
	width: 100%;
}
.notice-box .table table tr th,
.notice-box .table table tr td {
	padding: 5px;
	font-size: 14px;
	vertical-align: middle;
	border: 1px #B5B5B5 solid;
}
.notice-box .table table tr th {
	font-weight: bold;
}
.notice-box .close {
	background: url(../images/m4/close.png) no-repeat;
	position: absolute;
	width: 27px;
	height: 27px;
	top: 20px;
	right: 20px;
}
.notice-box .close:hover {
	opacity: 0.8;
}
.notice-box .title {
	font-size: 30px;
	line-height: 45px;
	text-align: center;
}
.notice-box .body {
	margin-top: 30px;
	height: 370px;
	overflow: auto;
}
.notice-box .body p {
	padding: 0 40px;
	font-size: 18px;
	line-height: 27px;
}
.notice-box .download-btn {
	background-color: #CCCCCC;
	margin: 20px auto 0;
	width: 318px;
	height: 62px;
	font-size: 20px;
	color: #111111;
	line-height: 62px;
	text-align: center;
	border: 1px #C5C5C5 solid;
	display: block;
}
.notice-box .download-btn:hover {
	border: 1px #999999 solid;
}

/**
 * Buy
 */
.mobile-wrap {
	background: #0A0A0A url(../images/buy/mobile_bg3.jpg) top center no-repeat;
	padding-top: 65px;
	width: 100%;
	height: 453px;
	height: 597px;
}
.mobile-wrap.special {
	background: #0A0A0A url(../images/buy/mobile_bg.jpg) top center no-repeat;
	height: 453px;
}
.mobile-wrap.baselpage {
	background: #0A0A0A url(../images/buy/mobile_bg2.jpg) top center no-repeat;
	height: 453px;
}
.mobile-wrap .content {
	position: relative;
	margin: 0 auto;
	width: 500px;
	height: auto;
}
.mobile-wrap .content .product {
	width: 500px;
	height: 338px;
}
.mobile-wrap .content .title {
	margin: 30px auto 0;
	font-size: 18px;
	color: #919191;
	line-height: 32px;
	text-align: center;
}
.mobile-wrap .content .color {
	margin: 10px auto 30px;
	width: 100%;
	text-align: center;
}
.mobile-wrap .content .color a {
	padding: 0 10px;
	margin-right: 5px;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 34px;
	border: 1px #555555 solid;
	display: inline-block;
	border-radius: 5px;
}
.mobile-wrap .content .color a.active {
	background-color: #555555;
	color: #FFFFFF;
	border: 1px #555555 solid;
}
.mobile-wrap .content .cowhide a.a1 {
	color: #752936;
	border: 1px #752936 solid;
}
.mobile-wrap .content .cowhide a.a1.active {
	background-color: #752936;
	color: #FFFFFF;
	border: 1px #555555 solid;
}
.mobile-wrap .content .cowhide a.a2 {
	color: #4B5C5E;
	border: 1px #4B5C5E solid;
}
.mobile-wrap .content .cowhide a.a2.active {
	background-color: #4B5C5E;
	color: #FFFFFF;
	border: 1px #555555 solid;
}
.mobile-wrap .content .cowhide a.a3 {
	color: #3E5867;
	border: 1px #3E5867 solid;
}
.mobile-wrap .content .cowhide a.a3.active {
	background-color: #3E5867;
	color: #FFFFFF;
	border: 1px #555555 solid;
}

.mobile-wrap .content .crocodile a.a1 {
	color: #364356;
	border: 1px #364356 solid;
}
.mobile-wrap .content .crocodile a.a1.active {
	background-color: #364356;
	color: #FFFFFF;
	border: 1px #555555 solid;
}
.mobile-wrap .content .crocodile a.a2 {
	color: #4C3F3E;
	border: 1px #4C3F3E solid;
}
.mobile-wrap .content .crocodile a.a2.active {
	background-color: #4C3F3E;
	color: #FFFFFF;
	border: 1px #555555 solid;
}
.mobile-wrap .content .crocodile a.a3 {
	color: #6E6E6E;
	border: 1px #6E6E6E solid;
}
.mobile-wrap .content .crocodile a.a3.active {
	background-color: #323232;
	color: #FFFFFF;
	border: 1px #555555 solid;
}

.mobile-wrap .content .lizard a.a1 {
	color: #21477F;
	border: 1px #21477F solid;
}
.mobile-wrap .content .lizard a.a1.active {
	background-color: #21477F;
	color: #FFFFFF;
	border: 1px #555555 solid;
}
.mobile-wrap .content .lizard a.a2 {
	color: #900E38;
	border: 1px #900E38 solid;
}
.mobile-wrap .content .lizard a.a2.active {
	background-color: #900E38;
	color: #FFFFFF;
	border: 1px #555555 solid;
}
.mobile-wrap .content .lizard a.a3 {
	color: #FFFFFF;
	border: 1px #FFFFFF solid;
}
.mobile-wrap .content .lizard a.a3.active {
	background-color: #FFFFFF;
	color: #333333;
	border: 1px #555555 solid;
}

.mobile-wrap .content .config {
	width: 500px;
}
.buy-wrap {
	background: #151515 url(../images/buy/buy_bg.jpg) top center no-repeat;
	width: 100%;
	height: 382px;
}
.buy-wrap .buy-form {
	margin: 0 auto;
	padding-top: 20px;
	width: 480px;
}
.product-buy .buy-form .row {
	position: relative;
	padding: 3px;
	width: 100%;
	height: 40px;
	border-bottom: 1px #999999 solid;
}
.product-buy .buy-form .row .label {
	position: absolute;
	width: 90px;
	height: 40px;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 40px;
	text-align: justify;
}
.product-buy .buy-form .row .label:after {
	display: inline-block;
    width: 100%;
    content: '';
}
.product-buy .buy-form .input-container {
	padding-left: 90px;
}
.product-buy .buy-form .input-container .input {
	background-color: transparent;
	width: 100%;
	height: 40px;
	border: 0;
	outline: 0;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 40px;
	box-sizing: border-box;
}
.product-buy .buy-form p.desc {
	padding: 10px 0;
	font-size: 12px;
	color: #A99B78;
}
.product-buy .buy-form .foot {
	margin-top: 40px;
	text-align: center;
}
.product-buy .buy-form .foot .submit {
	background-color: #BEA362;
	width: 120px;
	height: 36px;
	font-size: 18px;
	color: #362E1C;
	line-height: 36px;
	border: 0;
	outline: 0;
}

/**
 * Supreme
 */
.m4-supreme-1 {
	background: url(../images/supreme/1.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 652px;
}
.m4-supreme-2 {
	background: url(../images/supreme/2.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 611px;
}
.m4-supreme-3 {
	background: url(../images/supreme/3.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 603px;
}
.m4-supreme-4 {
	background: url(../images/supreme/4.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 623px;
}
.m4-supreme-5 {
	background: url(../images/supreme/5.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 698px;
}
.m4-supreme-6 {
	background: url(../images/supreme/6.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 617px;
}
.m4-supreme-7 {
	background: url(../images/supreme/7.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 658px;
}
.m4-supreme-8 {
	background: url(../images/supreme/8.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 552px;
}
.m4-supreme-9 {
	background: url(../images/supreme/9.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 610px;
}
.m4-supreme-10 {
	background: url(../images/supreme/10.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 784px;
}
.m4-supreme-11 {
	background: url(../images/supreme/11.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 1199px;
}
.m4-supreme-12 {
	background: url(../images/supreme/12.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 609px;
}
.m4-supreme-13 {
	background: url(../images/supreme/13.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 609px;
}
.m4-supreme-14 {
	background: url(../images/supreme/14.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 609px;
}
.m4-supreme-15 {
	background: url(../images/supreme/15.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 609px;
}
.m4-supreme-16 {
	background: url(../images/supreme/16.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 609px;
}
.m4-supreme-17 {
	background: url(../images/supreme/17.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 611px;
}
.m4-supreme-18 {
	background: url(../images/supreme/18.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 609px;
}
.m4-supreme-19 {
	background: url(../images/supreme/19.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 611px;
}
.m4-supreme-20 {
	background: url(../images/supreme/20.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 610px;
}
.m4-supreme-21 {
	background: url(../images/supreme/21.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 610px;
}
.m4-supreme-22 {
	background: url(../images/supreme/22.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 611px;
}
.m4-supreme-23 {
	background: url(../images/supreme/23.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 610px;
}
.m4-supreme-24 {
	background: url(../images/supreme/24.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 750px;
}
.m4-supreme-24 .content {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 750px;
}
.m4-supreme-24 .content a.buy-btn {
	position: absolute;
	width: 168px;
	height: 64px;
	left: 709px;
	top: 432px;
}

/**
 * Peak
 */
.m4-peak-1 {
	background: url(../images/peak/1.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 648px;
}
.m4-peak-2 {
	background: url(../images/peak/2.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 612px;
}
.m4-peak-3 {
	background: url(../images/peak/3.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 602px;
}
.m4-peak-4 {
	background: url(../images/peak/4.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 624px;
}
.m4-peak-5 {
	background: url(../images/peak/5.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 692px;
}
.m4-peak-6 {
	background: url(../images/peak/6.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 629px;
}
.m4-peak-7 {
	background: url(../images/peak/7.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 651px;
}
.m4-peak-8 {
	background: url(../images/peak/8.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 553px;
}
.m4-peak-9 {
	background: url(../images/peak/9.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 606px;
}
.m4-peak-10 {
	background: url(../images/peak/10.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 773px;
}
.m4-peak-11 {
	background: url(../images/peak/11.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 1189px;
}
.m4-peak-12 {
	background: url(../images/peak/12.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 610px;
}
.m4-peak-13 {
	background: url(../images/peak/13.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 607px;
}
.m4-peak-14 {
	background: url(../images/peak/14.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 611px;
}
.m4-peak-15 {
	background: url(../images/peak/15.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 610px;
}
.m4-peak-16 {
	background: url(../images/peak/16.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 609px;
}
.m4-peak-17 {
	background: url(../images/peak/17.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 610px;
}
.m4-peak-18 {
	background: url(../images/peak/18.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 609px;
}
.m4-peak-19 {
	background: url(../images/peak/19.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 612px;
}
.m4-peak-20 {
	background: url(../images/peak/20.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 608px;
}
.m4-peak-21 {
	background: url(../images/peak/21.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 610px;
}
.m4-peak-22 {
	background: url(../images/peak/22.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 610px;
}
.m4-peak-23 {
	background: url(../images/peak/23.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 610px;
}
.m4-peak-24 {
	background: url(../images/peak/24.jpg) top center no-repeat;
	position: relative;
	width: 100%;
	height: 750px;
}
.m4-peak-24 .content {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 750px;
}
.m4-peak-24 .content a.buy-btn {
	position: absolute;
	width: 168px;
	height: 64px;
	left: 709px;
	top: 432px;
}

/**
 * Box
 */
.box-message {
	position: fixed;
	width: 300px;
	height: 120px;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -60px;
	z-index: 9999;
	border-radius: 10px;
	display: none;
}
.box-message .message {
	background-color: #FFFFFF;
	padding: 20px;
	font-size: 14px;
	color: #333333;
	line-height: 21px;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.box-message a.confirm-btn {
	background-color: #FFFFFF;
	width: 100%;
	height: 44px;
	font-size: 16px;
	color: #009EE6;
	text-align: center;
	line-height: 44px;
	border-top: 1px #CCCCCC solid;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: block;
}
.box-message a.confirm-btn:active {
	background-color: #F5F5F5;
}